body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #fafafa;
}

.embed-container {
  padding: 18px;
}

embed {
  height: 100%;
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
}

.form-container {
  overflow: hidden;
  margin: 18px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  /* border: #323639 solid 1px; */
  border: rgba(0, 0, 0, 0.2) solid 1px;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

.copyright-container {
  text-align: center;
  font-size: 14px;
  grid-column: span 2;
  color: #fff;
  background-color: #35465c;
}

.copyright-container a {
  color: #fff;
  text-decoration: none;
}

.copyright-container a:hover {
  text-decoration: underline;
}

form {
  overflow: auto;
  padding: 20px 20px 0 20px;

}

.button-container {
  background-color: #ffffff;
  padding: 12px 24px;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.form-header {
  color: #ffffff;
  background-color: #323639;
  line-height: 56px;
  padding: 0 20px;
  font-size: 14px;
  font-weight: 500;
}

section {
  margin-bottom: 30px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 16px;
  border: rgba(0, 0, 0, 0.2) solid 1px;
  max-width: 850px;
  margin-left: auto;
  margin-right: auto;
}

h3 {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: 500;
  color: #000000de;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.field {
  width: 33.3%;
  padding: 0 10px;
  box-sizing: border-box;
}

.label {
  padding-right: 10px;
  text-align: right;
  line-height: 18px;
  white-space: nowrap;
  font-size: 12px;
  color: #0009;
}

.input:not([type="checkbox"]) {
  width: 100%;
  padding: 6px;
  border-radius: 4px 4px 0 0;
  height: 40px;
  border: none;
  border-bottom: 1px solid #8b8b8b;
  box-sizing: border-box;
  background-color: #0000000a;
}

.input:not([type="checkbox"]):focus {
  border-bottom: 2px solid #35465c;
  outline: none;
}

.input:not([type="checkbox"]):disabled {
  border: none;
  color: #00000061;
  background-color: #00000005;
}

.input[type="checkbox"] {
  width: 20px;
  height: 20px;
  padding: 6px;
  border-radius: 6px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.checkbox-label {
  display: flex;
  align-items: center;
  height: 40px;
}

.disclaimer {
  font-size: 12px;
  text-align: center;
  text-align: justify;
  color: #646464;
  margin-bottom: 18px;
}

button {
  padding: 10px 20px;
  background-color: #4CAF50;
  /* background-color: #3f51b5; */
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
}

.download {
  color: #1a73e8;
  text-decoration: none;
  font-size: 14px;
  padding: 10px 20px;
}

.download:hover {
  text-decoration: underline;
  cursor: pointer;
}

button:hover {
  background-color: #3e8e41;
  /* background-color: #283593; */
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

@media screen and (max-width: 1400px) {
  .field {
    width: 50%;
  }
}

@media screen and (max-width: 1025px) {
  .field {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  body {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
  }

  .embed-container {
    display: none;
  }

  .form-container {
    grid-row: 1;
    margin: 0;
    border-radius: 0;
  }
}